<!doctype html>
<html class="no-js" lang="en">

<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--font-family-->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext"
		rel="stylesheet">

	<!-- title of site -->
	<title>Wongsaton Kampusan</title>

	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="/static/assets/logo/favicon.png" />

	<!--font-awesome.min.css-->
	<!-- <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">

	<!--flat icon css-->
	<link rel="stylesheet" href="/static/assets/css/flaticon.css">

	<!--animate.css-->
	<link rel="stylesheet" href="/static/assets/css/animate.css">

	<!--owl.carousel.css-->
	<link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/assets/css/owl.theme.default.min.css">

	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

	<!-- bootsnav -->
	<link rel="stylesheet" href="/static/assets/css/bootsnav.css">

	<!--style.css-->
	<link rel="stylesheet" href="/static/assets/css/style.css">

	<!--responsive.css-->
	<link rel="stylesheet" href="/static/assets/css/responsive.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

	<!-- top-area Start -->
	<header class="top-area">
		<div class="header-area">
			<!-- Start Navigation -->
			<nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

				<div class="container">

					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="index.html">wongsatonk</a>
					</div><!--/.navbar-header-->
					<!-- End Header Navigation -->

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li class=" smooth-menu active"></li>
							<li class="smooth-menu"><a href="#education">education</a></li>
							<li class="smooth-menu"><a href="#skills">skills</a></li>
							<li class="smooth-menu"><a href="#experience">experience</a></li>
							<li class="smooth-menu"><a href="#profiles">profile</a></li>
							<li class="smooth-menu"><a href="#portfolio">portfolio</a></li>
							<li class="smooth-menu"><a href="#clients">clients</a></li>
							<li class="smooth-menu"><a href="#contact">contact</a></li>
						</ul><!--/.nav -->
					</div><!-- /.navbar-collapse -->
				</div><!--/.container-->
			</nav><!--/nav-->
			<!-- End Navigation -->
		</div><!--/.header-area-->

		<div class="clearfix"></div>

	</header><!-- /.top-area-->
	<!-- top-area End -->

	<!--welcome-hero start -->
	<section id="welcome-hero" class="welcome-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="header-text">
						<h2>hi <span>,</span> i am <br> wongsaton <br> kampusan <span>.</span> </h2>
						<p>automation, control and project engineer | web developer</p>
						<a href="/static/assets/download/browney.txt" download>download resume</a>
					</div><!--/.header-text-->
				</div><!--/.col-->
			</div><!-- /.row-->
		</div><!-- /.container-->

	</section><!--/.welcome-hero-->
	<!--welcome-hero end -->

	<!--about start -->
	<section id="about" class="about">
		<div class="section-heading text-center">
			<h2>about me</h2>
		</div>
		<div class="container">
			<div class="about-content">
				<div class="row">
					<div class="col-sm-7">
						<div class="single-about-txt">
							<h3>
								Meticulous Automation Engineer skilled with developing process control system and
								improving existing process. Strong experience automating the creation of test
								environments. Driven leader with advanced-level knowledge in batch control process and
								data acquisition systems.
							</h3>
							<p>
								Proficient tester, designer and debugger with an in-depth understanding of building and
								running automated systems for manufacturing. Well-versed in the full project lifecycle,
								technical support needs and project coordination functions. Excellent communication,
								organizational and interpersonal skills. Hardworking and passionate job seeker with
								strong organizational skills eager to secure entry- level Automation and Control
								engineer position. Ready to help team achieve company goals.
							</p>
							<br>
							<h3>
								Experienced Developer with 6 years of experience in creating programs based on specific
								requirements. Adaptable, diligent and knowledgeable in Embarcadero Delphi, Python and
								Flutter.
							</h3>
							<p>
								High-performing professional with extensive experience managing large-scale, complex
								databases. Skilled in SQL and database management systems. Strong understanding of
								database design and data modeling with excellent troubleshooting skills. Smart and
								committed to staying up-to-date with new technologies and advancements. To seek and
								maintain full-time position that offers professional challenges utilizing interpersonal
								skills, excellent time management and problem-solving skills. Detail-oriented team
								player with strong organizational skills. Ability to handle multiple projects
								simultaneously with a high degree of accuracy.
							</p>
							<div class="row">
								<div class="col-sm-3">
									<div class="single-about-add-info">
										<h3>phone</h3>
										<p>425-542-4802</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="single-about-add-info">
										<h3>email</h3>
										<p>wongsatonkampusan@gmail.com</p>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="single-about-add-info">
										<h3>website</h3>
										<p>www.wongsatokampusan.com</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-offset-1 col-sm-4">
						<div class="single-about-img">
							<img src="/static/assets/images/about/profile_image.jpg" alt="profile_image">
							<div class="about-list-icon">
								<ul>
									<li>
										<a target="_blank" href="https://www.facebook.com/aof2thebest">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li><!-- / li -->
									<li>
										<a target="_blank" href="https://www.linkedin.com/in/wongsaton-kampusan/">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
									</li><!-- / li -->
									<li>
										<a target="_blank" href="https://www.instagram.com/aof2thebest">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li><!-- / li -->


								</ul><!-- / ul -->
							</div><!-- /.about-list-icon -->

						</div>

					</div>
				</div>
			</div>
		</div>
	</section><!--/.about-->
	<!--about end -->

	<!--education start -->
	<section id="education" class="education">
		<div class="section-heading text-center">
			<h2>education</h2>
		</div>
		<div class="container">
			<div class="education-horizontal-timeline">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-horizontal-timeline">
							<div class="experience-time">
								<h2>2014</h2>
								<h3>vocational certificate <span>of </span> electronics</h3>
							</div><!--/.experience-time-->
							<div class="timeline-horizontal-border">
								<i class="fa fa-circle" aria-hidden="true"></i>
								<span class="single-timeline-horizontal spacial-horizontal-line"></span>
							</div>
							<div class="timeline">
								<div class="timeline-content">
									<h4 class="title">
										sakon nakhon technical college
									</h4>
									<h5>sakon nakhon, thailand</h5>
									<p class="description">
										Acquired foundational knowledge and practical skills in electronics.
									</p>
								</div><!--/.timeline-content-->
							</div><!--/.timeline-->
						</div>
					</div>
					<!-- Bachelor's Degree -->
					<div class="col-sm-4">
						<div class="single-horizontal-timeline">
							<div class="experience-time">
								<h2>2018</h2>
								<h3>bachelor <span>of </span> computer engineering</h3>
							</div><!--/.experience-time-->
							<div class="timeline-horizontal-border">
								<i class="fa fa-circle" aria-hidden="true"></i>
								<span class="single-timeline-horizontal"></span>
							</div>
							<div class="timeline">
								<div class="timeline-content">
									<h4 class="title">
										rajamangala university of technology isan
									</h4>
									<h5>sakon nakhon, thailand</h5>
									<p class="description">
										Completed a project on an E-Document Tracking System for iOS and Android
										Application.
									</p>
								</div><!--/.timeline-content-->
							</div><!--/.timeline-->
						</div>
					</div>
					<!-- Master's Degree -->
					<div class="col-sm-5">
						<div class="single-horizontal-timeline">
							<div class="experience-time">
								<h2>2023</h2>
								<h3>master <span>of </span> deep technology and intelligent system</h3>
							</div><!--/.experience-time-->
							<div class="timeline-horizontal-border">
								<i class="fa fa-circle" aria-hidden="true"></i>
								<span class="single-timeline-horizontal"></span>
							</div>
							<div class="timeline">
								<div class="timeline-content">
									<h4 class="title">
										national institute of development administration
									</h4>
									<h5>bangkok, thailand</h5>
									<p class="description">
										Completed a independent study the development of an automated frog farming
										system and weight prediction using Internet of Things technology.
									</p>
								</div><!--/.timeline-content-->
							</div><!--/.timeline-->
						</div>
					</div>
					<!-- Vocational Certificate -->

				</div>
			</div>
		</div>
	</section><!--/.education-->
	<!--education end -->


	<!--skills start -->
	<section id="skills" class="skills">
		<div class="skill-content">
			<div class="section-heading text-center">
				<h2>skills</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="single-skill-content">
							<div class="barWrapper">
								<span class="progressText">adobe photoshop</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="90"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>90%</h3>
								</div>
							</div><!-- /.barWrapper -->
							<div class="barWrapper">
								<span class="progressText">adobe illustrator</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="85"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>85%</h3>
								</div>
							</div><!-- /.barWrapper -->
							<div class="barWrapper">
								<span class="progressText">adobe after effects</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="97"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>97%</h3>
								</div>
							</div><!-- /.barWrapper -->
							<div class="barWrapper">
								<span class="progressText">sketch</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="90"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>90%</h3>
								</div>
							</div><!-- /.barWrapper -->
						</div>
					</div>
					<div class="col-md-6">
						<div class="single-skill-content">
							<div class="barWrapper">
								<span class="progressText">html 5</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="90"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>90%</h3>
								</div>
							</div><!-- /.barWrapper -->
							<div class="barWrapper">
								<span class="progressText">css 3 animation</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="85"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>85%</h3>
								</div>
							</div><!-- /.barWrapper -->
							<div class="barWrapper">
								<span class="progressText">communication</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="97"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>97%</h3>
								</div>
							</div><!-- /.barWrapper -->
							<div class="barWrapper">
								<span class="progressText"> creativity</span>
								<div class="single-progress-txt">
									<div class="progress ">
										<div class="progress-bar" role="progressbar" aria-valuenow="90"
											aria-valuemin="10" aria-valuemax="100" style="">

										</div>
									</div>
									<h3>90%</h3>
								</div>
							</div><!-- /.barWrapper -->
						</div>
					</div>
				</div><!-- /.row -->
			</div> <!-- /.container -->
		</div><!-- /.skill-content-->

	</section><!--/.skills-->
	<!--skills end -->

	<!--experience start -->
	<section id="experience" class="experience">
		<div class="section-heading text-center">
			<h2>experience</h2>
		</div>
		<div class="container">
			<div class="experience-content">
				<div class="main-timeline">
					<ul>
						<!-- Latest Experience -->
						<li>
							<div class="single-timeline-box fix">
								<div class="row">
									<div class="col-md-5">
										<div class="experience-time text-right">
											<h2>09/2023 - 01/2024</h2>
											<h3>Automation Engineer</h3>
										</div><!--/.experience-time-->
									</div><!--/.col-->
									<div class="col-md-offset-1 col-md-5">
										<div class="timeline">
											<div class="timeline-content">
												<h4 class="title">
													<span><i class="fa fa-circle" aria-hidden="true"></i></span>
													Mars Petcare – Chonburi Thailand (Remote)
												</h4>
												<h5>Automation Projects Lead</h5>
												<ul class="description">
													<li>• Led automation projects in line with industrial control standards and IT systems.</li>
													<li>• Trained entry-level engineers in MES, MOM, and Factory IT systems, enhancing team capabilities.</li>
													<li>• Collaborated with Rockwell and Engineering teams on MES solution architectures and design specifications.</li>
													<li>• Managed project deliverables, focusing on safety, security, and environmental compliance.</li>
													<li>• Troubleshoot software to alleviate obstacles preventing functionality.</li>
												</ul>
											</div><!--/.timeline-content-->
										</div><!--/.timeline-->
									</div><!--/.col-->
								</div>
							</div><!--/.single-timeline-box-->
						</li>

						<!-- Latest Experience -->
						<li>
							<div class="single-timeline-box fix">
								<div class="row">
									<div class="col-md-5">
										<div class="experience-time text-right">
											<h2>10/2022 - 08/2023</h2>
											<h3>Reliability Engineer (Automation & Server)</h3>
										</div><!--/.experience-time-->
									</div><!--/.col-->
									<div class="col-md-offset-1 col-md-5">
										<div class="timeline">
											<div class="timeline-content">
												<h4 class="title">
													<span><i class="fa fa-circle" aria-hidden="true"></i></span>
													Mars Petcare – Chonburi Thailand
												</h4>
												<h5>Technical Problem Solver</h5>
												<ul class="description">
													<li>• Directed technical personnel in the fabrication of testing and test control equipment.</li>
													<li>• Provided solutions to various technical problems of varying scope and complexity.</li>
													<li>• Directed technical teams in testing and control equipment development for factory IT systems.</li>
													<li>• Tested hardware and software within a quality assurance environment before production release.</li>
													<li>• Created plans for test method validation using research or field observations.</li>
													<li>• Created technical documents for the education of newly hired employees.</li>
													<li>• Support Engineering and Maintenance departments with training and technical support.</li>
													<li>• Developed detailed technical documents and user guides for technical products.</li>
													<li>• Evaluated and implemented new technologies to improve automation systems for production.</li>
												</ul>
											</div><!--/.timeline-content-->
										</div><!--/.timeline-->
									</div><!--/.col-->
								</div>
							</div><!--/.single-timeline-box-->
						</li>

						<!-- Unity Focus Experience -->
						<li>
							<div class="single-timeline-box fix">
								<div class="row">
									<div class="col-md-5">
										<div class="experience-time text-right">
											<h2>10/2019 - 10/2022</h2>
											<h3>Systems Engineer</h3>
										</div><!--/.experience-time-->
									</div><!--/.col-->
									<div class="col-md-offset-1 col-md-5">
										<div class="timeline">
											<div class="timeline-content">
												<h4 class="title">
													<span><i class="fa fa-circle" aria-hidden="true"></i></span>
													Unity Focus Co.,Ltd.
												</h4>
												<h5>Control System Solution Integrator</h5>
												<ul class="description">
													<li>• Participated in the Chonburi pouch plant phase 3 JUMP project, collecting requirements from R&D, Operations, Maintenance and Engineering teams to develop MES function including URS, and FDS documents by collaborating with Rockwell Automation.</li>
													<li>• Provideed technical support to external and internal customers.</li>
													<li>• Created and finalized designs to meet project requirements.</li>
													<li>• Identified procures and necessary equipment and facilities for
													characterization of automation systems and applications.</li>
													<li>• Developed process control system and manufacturing execution
													system with customers.</li>
													<li>• Demonstrate leadership skills in managing projects from concept to
													completion.</li>
								
												</ui>
											</div><!--/.timeline-content-->
										</div><!--/.timeline-->
									</div><!--/.col-->
								</div>
							</div><!--/.single-timeline-box-->
						</li>

						<!-- Delsnet Enterprise Experience -->
						<li>
							<div class="single-timeline-box fix">
								<div class="row">
									<div class="col-md-5">
										<div class="experience-time text-right">
											<h2>05/2018 - 10/2019</h2>
											<h3>Programmer</h3>
										</div><!--/.experience-time-->
									</div><!--/.col-->
									<div class="col-md-offset-1 col-md-5">
										<div class="timeline">
											<div class="timeline-content">
												<h4 class="title">
													<span><i class="fa fa-circle" aria-hidden="true"></i></span>
													Delsnet Enterprise Co.,Ltd.
												</h4>
												<h5>Solution Provider</h5>
												<ul class="description">
													<li>• Work with software development and testing team members to design and develop robust solutions to meet client requirements for functionality, scalability, and performance.</li>
													<li>• Develop web applications for deployment on platforms and sites.</li>
													<li>• Prepare detailed reports on updates to project specifications, progress, identified conflicts, and team activities.</li>
													<li>• Incorporate database technologies into coding projects.</li>
												</ui>
											</div><!--/.timeline-content-->
										</div><!--/.timeline-->
									</div><!--/.col-->
								</div>
							</div><!--/.single-timeline-box-->
						</li>
					</ul>
				</div><!--.main-timeline-->
			</div><!--.experience-content-->
		</div>
	</section><!--/.experience-->
	<!--experience end -->


	<!--profiles start -->
	<section id="profiles" class="profiles">
		<div class="profiles-details">
			<div class="section-heading text-center">
				<h2>profiles</h2>
			</div>
			<div class="container">
				<div class="profiles-content">
					<div class="row">
						<div class="col-sm-3">
							<div class="single-profile">
								<div class="profile-txt">
									<a href=""><i class="flaticon-themeforest"></i></a>
									<div class="profile-icon-name">themeforest</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-themeforest"></i></a>
										<div class="profile-icon-name">themeforest</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-profile">
								<div class="profile-txt">
									<a href=""><i class="flaticon-dribbble"></i></a>
									<div class="profile-icon-name">dribbble</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-dribbble"></i></a>
										<div class="profile-icon-name">dribbble</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-profile">
								<div class="profile-txt">
									<a href=""><i class="flaticon-behance-logo"></i></a>
									<div class="profile-icon-name">behance</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-behance-logo"></i></a>
										<div class="profile-icon-name">behance</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-profile profile-no-border">
								<div class="profile-txt">
									<a href=""><i class="flaticon-github-logo"></i></a>
									<div class="profile-icon-name">github</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-github-logo"></i></a>
										<div class="profile-icon-name">github</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-border"></div>
					<div class="row">
						<div class="col-sm-3">
							<div class="single-profile">
								<div class="profile-txt">
									<a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
									<div class="profile-icon-name">flickR</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
										<div class="profile-icon-name">flickR</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-profile">
								<div class="profile-txt">
									<a href=""><i class="flaticon-smug"></i></a>
									<div class="profile-icon-name">smungMung</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-smug"></i></a>
										<div class="profile-icon-name">smungMung</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-profile">
								<div class="profile-txt">
									<a href=""><i class="flaticon-squarespace-logo"></i></a>
									<div class="profile-icon-name">squareSpace</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i class="flaticon-squarespace-logo"></i></a>
										<div class="profile-icon-name">squareSpace</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-profile profile-no-border">
								<div class="profile-txt">
									<a href=""><i
											class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
									<div class="profile-icon-name">bitBucket</div>
								</div>
								<div class="single-profile-overlay">
									<div class="profile-txt">
										<a href=""><i
												class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
										<div class="profile-icon-name">bitBucket</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section><!--/.profiles-->
	<!--profiles end -->

	<!--portfolio start -->
	<section id="portfolio" class="portfolio">
		<div class="portfolio-details">
			<div class="section-heading text-center">
				<h2>portfolio</h2>
			</div>
			<div class="container">
				<div class="portfolio-content">
					<div class="isotope">
						<div class="row">

							<div class="col-sm-4">
								<div class="item">
									<img src="/static/assets/images/portfolio/p1.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="#">
											ui/ux design
										</a>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
								<div class="item">
									<img src="/static/assets/images/portfolio/p2.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="#">
											ui/ux design
										</a>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div><!-- /.col -->

							<div class="col-sm-4">
								<div class="item">
									<img src="/static/assets/images/portfolio/p3.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="#">
											web design
										</a>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div><!-- /.col -->

							<div class="col-sm-4">
								<div class="item">
									<img src="/static/assets/images/portfolio/p4.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="#">
											web development
										</a>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
								<div class="item">
									<img src="/static/assets/images/portfolio/p5.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="#">
											web development
										</a>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!--/.isotope-->
				</div><!--/.gallery-content-->
			</div><!--/.container-->
		</div><!--/.portfolio-details-->

	</section><!--/.portfolio-->
	<!--portfolio end -->

	<!--clients start -->
	<section id="clients" class="clients">
		<div class="section-heading text-center">
			<h2>clients</h2>
		</div>
		<div class="clients-area">
			<div class="container">
				<div class="owl-carousel owl-theme" id="client">
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c1.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c2.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c3.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c4.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c5.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c6.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="/static/assets/images/clients/c7.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
				</div><!--/.owl-carousel-->
			</div><!--/.container-->
		</div><!--/.clients-area-->

	</section><!--/.clients-->

	</section><!--/.clients-->
	<!--clients end -->

	<!--contact start -->
	<section id="contact" class="contact">
		<div class="section-heading text-center">
			<h2>contact me</h2>
		</div>
		<div class="container">
			<div class="contact-content">
				<div class="row">
					<div class="col-md-offset-1 col-md-5 col-sm-6">
						<div class="single-contact-box">
							<div class="contact-form">
								<form>
									<div class="row">
										<div class="col-sm-6 col-xs-12">
											<div class="form-group">
												<input type="text" class="form-control" id="name" placeholder="Name*"
													name="name">
											</div><!--/.form-group-->
										</div><!--/.col-->
										<div class="col-sm-6 col-xs-12">
											<div class="form-group">
												<input type="email" class="form-control" id="email" placeholder="Email*"
													name="email">
											</div><!--/.form-group-->
										</div><!--/.col-->
									</div><!--/.row-->
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" class="form-control" id="subject"
													placeholder="Subject" name="subject">
											</div><!--/.form-group-->
										</div><!--/.col-->
									</div><!--/.row-->
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<textarea class="form-control" rows="8" id="comment"
													placeholder="Message"></textarea>
											</div><!--/.form-group-->
										</div><!--/.col-->
									</div><!--/.row-->
									<div class="row">
										<div class="col-sm-12">
											<div class="single-contact-btn">
												<a class="contact-btn" href="#" role="button">submit</a>
											</div><!--/.single-single-contact-btn-->
										</div><!--/.col-->
									</div><!--/.row-->
								</form><!--/form-->
							</div><!--/.contact-form-->
						</div><!--/.single-contact-box-->
					</div><!--/.col-->
					<div class="col-md-offset-1 col-md-5 col-sm-6">
						<div class="single-contact-box">
							<div class="contact-adress">
								<div class="contact-add-head">
									<h3>browny star</h3>
									<p>uI/uX designer</p>
								</div>
								<div class="contact-add-info">
									<div class="single-contact-add-info">
										<h3>phone</h3>
										<p>987-123-6547</p>
									</div>
									<div class="single-contact-add-info">
										<h3>email</h3>
										<p>browny@info.com</p>
									</div>
									<div class="single-contact-add-info">
										<h3>website</h3>
										<p>www.brownsine.com</p>
									</div>
								</div>
							</div><!--/.contact-adress-->
							<div class="hm-foot-icon">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li><!--/li-->
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li><!--/li-->
									<li><a href="#"><i class="fa fa-twitter"></i></a></li><!--/li-->
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li><!--/li-->
									<li><a href="#"><i class="fa fa-instagram"></i></a></li><!--/li-->
								</ul><!--/ul-->
							</div><!--/.hm-foot-icon-->
						</div><!--/.single-contact-box-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.contact-content-->
		</div><!--/.container-->

	</section><!--/.contact-->
	<!--contact end -->

	<!--footer-copyright start-->
	<footer id="footer-copyright" class="footer-copyright">
		<div class="container">
			<div class="hm-footer-copyright text-center">
				<p>
					&copy; copyright yourname. design and developed by <a
						href="https://www.themesine.com/">themesine</a>
				</p><!--/p-->
			</div><!--/.text-center-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top"></i>
			</div>

		</div><!--/.scroll-Top-->

	</footer><!--/.footer-copyright-->
	<!--footer-copyright end-->

	<!-- Include all js compiled plugins (below), or include individual files as needed -->

	<script src="/static/assets/js/jquery.js"></script>

	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<!--bootstrap.min.js-->
	<script src="/static/assets/js/bootstrap.min.js"></script>

	<!-- bootsnav js -->
	<script src="/static/assets/js/bootsnav.js"></script>

	<!-- jquery.sticky.js -->
	<script src="/static/assets/js/jquery.sticky.js"></script>

	<!-- for progress bar start-->

	<!-- progressbar js -->
	<script src="/static/assets/js/progressbar.js"></script>

	<!-- appear js -->
	<script src="/static/assets/js/jquery.appear.js"></script>

	<!-- for progress bar end -->

	<!--owl.carousel.js-->
	<script src="/static/assets/js/owl.carousel.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


	<!--Custom JS-->
	<script src="/static/assets/js/custom.js"></script>

</body>

</html>